<a href="https://colab.research.google.com/github/Sorenatsac/ELECTIVE/blob/main/Biggeners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
favorite_food = "Pizza"
friend_Name = "Tina"
favorite_drink = "Soda"

print("i like " + favorite_food + ".")
print("i like eating " + favorite_food + " with my friend, " + friend_Name + ".")
print("we like to drink " + favorite_drink + ", too.")

i like Pizza.
i like eating Pizza with my friend, Tina.
we like to drink Soda, too.

In [ ]:
print(5)
print("CAKES")

5
CAKES

In [ ]:
 print("Hello World")

Hello World

In [ ]:
food ="SOIMAI"
print("i like eating "  + food + ".")

i like eating SOIMAI.

In [ ]:
character_job = "pirate"
character_ride = "ship"
character_souvenir = "gold"
character_pet = "monkey"

print("there was once a "  + character_job + " who love adventure. ")
print("the " + character_job + " would take her " + character_ride + " to unknown places.")
print("she brings home a lot of " + character_souvenir + ".")
print("Then she goes home to her pet " + character_pet + " Gigi.")

there was once a pirate who love adventure.
the pirate would take her ship to unknown places.
she brings home a lot of gold.
Then she goes home to her pet monkey Gigi.

In [ ]:
print ("Roses are red, Violets are blue")
if 10 > 7:
  print("Ten is greater than seven!")
if 16 < 42:
  print("Sixteen is less than forty-two!")

Roses are red, Violets are blue
Ten is greater than seven!
Sixteen is less than forty-two!

In [ ]:
if 10 > 7:
  print("Ten is greater than seven!")
if 10 < 7:
  print("Sixteen is less than forty-two!")

Ten is greater than seven!

In [ ]:
x = "I like cakes."
y = "Rise"
z = "we like to drink milkshakes, too."
print(y, z, x, food)

Rise we like to drink milkshakes, too. I like cakes. SOIMAI

In [ ]:
print("how can i make a comment?")

how can i make a comment?

In [ ]:
name = input("enter your name:")
print("hi, " + name + "!")

enter your name:raven
hi, raven!

In [ ]:
def nice_day(name):
    print("Have a nice day, " + name + "!")

nice_day("Rose")

Have a nice day, Rose!

In [ ]:
num1 = int(input("Please enter your 1st number"))
num2 = int(input("Please enter your 2nd number"))

print("your two numbers are:" , num1, "and" , num2)

Please enter your 1st number2
Please enter your 2nd number3
your two numbers are: 2 and 3

In [ ]:
def addNum(num3, num4):
    total = num3 + num4
    return (total)

num3 = int(input("Please enter your first number: "))
num4 = int(input("Please enter your second number: "))

print("total: ", addNum(num3, num4))

Please enter your first number: 3
Please enter your second number: 3
total:  6

In [ ]:
name = input("Enter you Name: ")
age = input("Enter your age: ")
favorite_color = input("Enter your favorite color: ")
favorite_movie = input("Enter your favorite movie: ")
mobile_num = int(input("Enter your Mobile Number: "))
email = input("Email Address: ")

Enter you Name: Raven
Enter your age: 25
Enter your favorite color: Blue
Enter your favorite movie: Ji-joe
Enter your Mobile Number: 09953774871
Email Address: castaneros_raven@y8.com

In [ ]:
print(1 > 7)
#Prints True

False

convert to string

In [ ]:
print(str(73911))
#Prints '73911'

73911

convert to float

In [ ]:
print(list(4302))
#Prints 4302.0

['4', '3', '0', '2']

convert to integer

In [ ]:
print(int(3299.35640))
#Prints 3299

3299

tuple

In [ ]:
print(tuple("CASTAÑEROS"))

('C', 'A', 'S', 'T', 'A', 'Ñ', 'E', 'R', 'O', 'S')

In [ ]:
print(22 > 21)
print(345 == 11)
print(673 > 343)
#Print True

True
False
True

In [ ]:
name = input("What's your name?")
print(name)
print("As in: ", tuple(name) )

What's your name?Tina
Tina
As in:  ('T', 'i', 'n', 'a')

In [ ]:
x = 3.1415
y = int(x)
print(y)

3

In [ ]:
class Customers:
      greeting = "Welcome to Cyber Dungeon!"
c_1 = Customers()
c_1.name = "Godfrey"
c_1.heroes = "Fairy Warrior"
c_1.level = "Savage"
c_1.power = 2500

print(Customers.greeting)
print(c_1.heroes)
print(c_1.power)

Welcome to Cyber Dungeon!
Fairy Warrior
2500

3.8 Coding Exercise

In [ ]:
print(217 * 6)
print(600 + 35234)
print(67 // 12)
print(56329 % 982)
print(34 ** 5)

1302
35834
5
355
45435424

3.12 coding exercise

In [ ]:
my_age = 25
mom_age = 51
dad_age = 52

print(mom_age < dad_age and my_age == 25)
print(mom_age == 61)
print(mom_age > 34 or dad_age == 52)
print(mom_age >= 51)
print(not(dad_age <= 400 and my_age == 25))

True
False
True
True
False

3.14 coding challenge

In [ ]:
x = 4345
y = 953
print( x + y)

5298

In [ ]:
x = 324
print(x == 210 or x < 527)

True

In [ ]:
class Cars:
      looks = "Cool!"
Audi = Cars()
print(Audi.looks)

Cool!

In [ ]:
num1 = 9
print(num1 ** 5)

59049

In [ ]:
amount_of_soaps = 33
amount_of_towels = 33
print(amount_of_soaps != amount_of_towels)

False

4.4 coding exerise

In [ ]:
x = 332
y = 2031
if x >= y:
      print("X is greater than or equal to y.")
elif x ==y:
      print("x is equal to y.")
else:
    print("x is less than y")

x is less than y

4.8 coding exercise

In [ ]:
furniture = ["table", "chair", "cabinet", "desk", "couch"]
for x in furniture:
    if x == "cabinet":
        continue
    print(x)

table
chair
desk
couch

In [ ]:
i = 1
while i < 15:
  print(i)
  i += 1
else:
    print("i is no longer less than 15.")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
i is no longer less than 15.

4.9 coding challenge

In [ ]:
clothes =["shirt", "socks", "pants", "gloves", "shoes"]
for x in clothes:
    print(x)
    if x == "pants":
      break

shirt
socks
pants

In [ ]:
t = 132
u = 151
if t > u:
  print("t is greater than u.")
elif t < u:
  print("t is less than u.")

t is less than u.

In [ ]:
people = ["doctor", "teacher", "neighbor"]
adjectives = ["friendly", "kind", "smart"]
for x in people:
    for y in adjectives:
        print(y, x)

friendly doctor
kind doctor
smart doctor
friendly teacher
kind teacher
smart teacher
friendly neighbor
kind neighbor
smart neighbor

In [ ]:
for x in range(4) :
  print (x)

0
1
2
3

In [ ]:
for i in range(9):
    if i == 5:
      continue
    print(i)

0
1
2
3
4
6
7
8

In [ ]:
device = "laptop"
dinner = "spaghetti"
print("I eat " + dinner +  "while watching movies on my" + device + ".")

I eat spaghettiwhile watching movies on mylaptop.

In [ ]:
class ClubMembers:
    def __init__(self, name, birthday, age, favorite_food, goal):
      self.name = name
      self.birthday = birthday
      self.age = age
      self.favorite_food = favorite_food
      self.goal = goal

      def display1(self):
          print("Name:", self.name)
          print("Birthday:", self.birthday)
          print("Age:", self.age)
          print("Favorite food:", self.favorite_food)
          print("Goal:", self.gaol)

m_1 = ClubMembers("Tom", "January 16", 14, "Ice cream", "to be happy")
display1()

NameError: ignored